<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.exp5.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.exp5.login.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBean</servlet-name>
        <servlet-class>com.exp5.login.LoginBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksBean</servlet-name>
        <servlet-class>com.exp5.login.BooksBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookBean</servlet-name>
        <servlet-class>com.exp5.login.BookBean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBean</servlet-name>
        <url-pattern>/LoginBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksBean</servlet-name>
        <url-pattern>/BooksBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookBean</servlet-name>
        <url-pattern>/BookBean</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
